body{
  background-color:rgb(111, 111, 226);
}
.App{
  background-color: #400db6;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: rgb(11, 155, 199);
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: whitesmoke;
}

#to-do-form input::placeholder{
  color: rgba(245, 215, 215, 0.5);
}

#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(206, 153, 8);
  cursor: pointer;
  font-weight: bolder;
  color: whitesmoke;
  
}